{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center;">PyMovies</h1>

<div class="row" style="display: flex; justify-content: center; flex-wrap: wrap;">
    {% for movie in movies %}
    <div class="col" style="flex: 0 0 18rem; margin: 10px;">
        <div class="card" style="width: 18rem; margin: auto; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
            <img src="{{ movie.image }}" class="card-img-top" alt="Movie Image" style="width: 100%; height: auto; display: block;">
            <div style="padding: 10px;">
                <h5 class="card-title">{{ movie.name }}</h5>
                <div class="card-text" style="margin: 10px 0; color: #555; font-size: 14px; line-height: 1.6;">
                    <p style="margin: 5px 0;"><strong>Type:</strong> {{ movie.type }}</p>
                    <p style="margin: 5px 0;"><strong>IMDb:</strong> {{ movie.imdb }}</p>
                    <p style="margin: 5px 0;"><strong>Time:</strong> {{ movie.duration }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %} 
</div>
{% endblock %}

